.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
.tools/

# Local datasets / artifacts

# Local conda envs / checkpoints
eomt/.conda/

# Download artifacts / cookies
eomt/cookies.txt
eomt/headers_pkg1.txt
eomt/pkg1.bin
